@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(20, 20, 20);
    margin: 0;
    padding: 10px;
}

.navigation {
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(255, 215, 83);
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 80px;
}

.logo:hover {
    color: rgb(255, 255, 200);
}

.logo:active {
    color: rgb(255, 255, 240);
}

.menu {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}

.menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #3c4a57;
    padding: 8px 0;
    transition: all 300ms;
}

.menu ul li a:hover {
    color: rgb(255, 255, 251);
    border-bottom: 4px solid rgb(255, 215, 83);
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 10%;
  background-color: #1e1c1c;
  border-radius: 20px;
  margin: 3rem 5%;
}

.about-image img {
  width: 1000px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 3rem;
}

.about-text {
  max-width: 700px;
  line-height: 1.8;
}

.about-text h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
  position: absolute;
  top: 15%;
  right: 80%;
}

.about-text p {
  font-size: 1.1rem;
  color: #ddd;
  position: relative;
  top: 20%;
  left: 15%;
}

@media (max-width: 900px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    margin: 0 0 2rem 0;
  }
}

.text-4xl {
  color: white;
}

.active-tab {
    border-bottom: 2px solid #f59e0b;
    color: #f59e0b;
    transition: all 0.3s ease;
}

.tab-button {
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.skill-item {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.skill-item.active {
    background-color: #f59e0b;
    color: #1f2937;
    border-color: #f59e0b;
    transform: none;
}

.skill-item.active .skill-icon {
    filter: invert(1); 
}

.skill-item:not(.active):hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    border-color: #f59e0b;
    z-index: 20; 
}

.skill-content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.skill-content.active-content {
    display: grid;
    opacity: 1;
}
